.button:active {
    background-color: #ffffff;
    box-shadow: 0 10px rgb(100, 100, 100);
    padding: 10px;
    transform: translateY(10px);
}

.button:active span::after {
    background-color: #fffcfc;
    box-shadow: 0 10px rgb(100, 100, 100);
    transform: translateY(10px);
}

body {
    background-color: #eba02f;
}

.img1 {
    width: 50px;
    height: 50px;
}

#logo {
    padding-right: 10px;
}

#name {
    color: #f71000;
    padding-left: 10px;
}

.button {
    border-radius: 15px;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #f51818;
}

.hasil {
    font-size: 100px;
}

.button1 {
    border-radius: 15px;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button2 {
    border-radius: 15px;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button3 {
    border-radius: 15px;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
